.left-nav {
  &-account-info {
    &_none {
      opacity: 0;
      height: 0;
      transition: all ease-in-out 350ms;
    }
    &_display {
      opacity: 1;
      height: initial;
      transition: all ease-in-out 350ms;
    }
  }
}
.brand-bar-mobile {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 5;
  transition: all ease-in-out 350ms;
  filter: $drop-shadow-bottom;
  height: 64px;
  transition: all ease-in-out 350ms;

  &-controls-container {
    height: 64px;
    transition: all ease-in-out 350ms;
  }

  &-brand {
    display: flex;
    gap: 1rem;
    transition: all ease-in-out 350ms;

    &-logo {
      margin: 0;
      transition: all ease-in-out 350ms;
    }
  }

  &-toggle {
    border: none;
    padding: 1rem;
    transition: all ease-in-out 350ms;
  }

  &-controls {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    top: 0;
    width: 100vw;
    height: 100%;
    padding: 0 1rem;
    transition: all ease-in-out 350ms;

    @include breakpointDown(md) {
      flex-wrap: wrap;
      justify-content: space-between;
      transition: all ease-in-out 350ms;
    }
    button {
      height: 40px;
      transition: all ease-in-out 350ms;
    }
  }
  @include breakpointDown(md) {
    display: block;
    transition: all ease-in-out 350ms;
  }
}
// DESKTOP
.brand-bar-desktop {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 5;
  filter: $drop-shadow-bottom;
  height: 64px;
  transition: all ease-in-out 350ms;

  &-controls-container {
    height: 64px;
    transition: all ease-in-out 350ms;
  }

  &-brand {
    &-container {
      height: 100%;
      display: flex;
      align-items: center;
      gap: 1rem;
      transition: all ease-in-out 350ms;
    }

    &-left {
      display: flex;
      transition: all ease-in-out 350ms;

      h1 {
        margin: 0 8rem 0 0;
        transition: all ease-in-out 350ms;
      }
    }
    &-right {
      display: flex;
      flex-grow: 1;
      justify-content: end;
      height: 50px;
      gap: 1rem;
      width: 145px;
      transition: all ease-in-out 350ms;
      align-items: center;

      &-name {
        margin: 0;
        letter-spacing: 0.1rem;
      }
      &-img {
        margin: 0;
      }

      @include breakpointDown(md) {
        gap: 5rem;
        transition: all ease-in-out 350ms;
      }
    }
  }

  &-toggle {
    border: none;
    padding: 1rem;
    transition: all ease-in-out 350ms;
  }

  &-controls {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    top: 0;
    width: 100vw;
    height: 100%;
    padding: 2.2rem;
    transition: all ease-in-out 350ms;

    @include breakpointDown(md) {
      flex-wrap: wrap;
      justify-content: space-between;
      transition: all ease-in-out 350ms;
    }

    button {
      height: 40px;
      transition: all ease-in-out 350ms;
    }
  }
}

.main-nav-list {
  height: 100vh;
  padding: 5rem 1rem;
  background-color: rgb(255, 255, 255);
  width: 238px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 2rem 0 0 0;
  font-size: 0.95rem;
  font-weight: 400;
  filter: $drop-shadow-right;
  z-index: 9;
  top: 32px;
  position: fixed;
  transition: all ease-in-out 350ms;

  &:hover {
    cursor: pointer;
  }

  &-linkHeader {
    font-size: inherit;
    transition: all ease-in-out 350ms;
  }

  &-icon-container {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    justify-content: space-between;
    position: relative;
    margin: 2rem 0 0 0;
    cursor: pointer;
    transition: all ease-in-out 350ms;

    div {
      display: flex;
      gap: 0.5rem;
      transition: all ease-in-out 350ms;
    }
  }

  &-links {
    display: flex;
    flex-direction: column;
    height: 0%;
    transform: translateY(7px);
    visibility: hidden;
    height: 0%;
    transform: translateY(7px);
    visibility: hidden;
  }

  &_toggled {
    transition: all ease-in-out 350ms;

    &:hover {
      cursor: pointer;
    }

    @extend .main-nav-list;
    filter: $drop-shadow-right;
    transition: all ease-in-out 350ms;
    width: 63px;
    gap: 1rem;

    @include breakpointDown(md) {
      transform: translateX(-90px);
      transition: all ease-in-out 350ms;
    }
  }

  @include breakpointDown(sm) {
    position: fixed;
    top: 32px;
    transition: all ease-in-out 350ms;

    &-icon {
      visibility: hidden;
      transition: all ease-in-out 350ms;
    }
  }

  @include breakpointUp(md) {
    float: left;
    top: 32px;
    transition: all ease-in-out 350ms;
    overflow: hidden;
    position: fixed;
  }
}

.link-slide {
  height: auto;
  transform: translateY(8px);
  visibility: visible;
  gap: 1rem;
  padding: 0 2rem;

  transition: all ease-in-out 350ms;
}

.list-group-icon {
  content: "";
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 0;

  transition: all ease-in-out 350ms;
}

// ***********************************************************ICONS

.gg-desktop {
  display: block;
  position: relative;
  box-sizing: border-box;
  transform: scale(var(--ggs, 1));
  width: 22px;
  height: 18px;
  border: 2px solid;
  border-radius: 3px;
  overflow: hidden;
}
.gg-desktop::before {
  content: "";
  display: block;
  position: absolute;
  box-sizing: border-box;
  width: 22px;
  height: 2px;
  background: currentColor;
  top: 2px;
  left: -2px;
}
.gg-desktop::after {
  content: "";
  display: block;
  position: absolute;
  box-sizing: border-box;
  background: currentColor;
  width: 2px;
  height: 2px;
  border-radius: 4px;
  bottom: 2px;
  left: 4px;
  box-shadow:
    4px 0 0,
    8px 0 0;
}

.gg-user {
  display: block;
  transform: scale(var(--ggs, 1));
  box-sizing: border-box;
  width: 12px;
  height: 18px;
}
.gg-user::after,
.gg-user::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  border: 2px solid;
}
.gg-user::before {
  width: 8px;
  height: 8px;
  border-radius: 30px;
  top: 0;
  left: 2px;
}
.gg-user::after {
  width: 12px;
  height: 9px;
  border-bottom: 0;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  top: 9px;
}
