*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.overflow-hidden {
  overflow-x: hidden;
}
.app-flex {
  display: flex;
  justify-content: flex-end;
  margin: 0 1rem 0 0;

  @include breakpointDown(sm) {
    display: block;
  }
}
.container-custom {
  width: 94.5%;

  &_toggled {
    width: 82.5%;
  }
}
.container {
  max-width: 1425px;
  width: min(100% - 2rem);

  @include breakpointDown(md) {
    max-width: 965px;
  }
  @include breakpointUp(lg) {
    max-width: 1805px;
  }
  @include breakpointUp(xl) {
    max-width: 1935px;
  }
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  background-color: #ecf0f4;
  font-family: "Roboto", sans-serif;
  color: rgb(84, 84, 84);
}

p {
  font-size: 14px;
}
h1 {
  font-size: 1.2rem;
  font-weight: 500;
}

h2 {
  font-size: 1rem;
}

h2 {
  color: rgba(67, 67, 67, 0.868);
}

h3 {
  font-size: 1.075rem;
  // font-size: $font-size-h3;
}
h3 {
  color: rgb(30, 30, 30);
}
.info {
  font-weight: 500;
}

//  **************************FORMS
.header-search {
  &-input {
    &::placeholder {
      font-size: 13.4px;
      padding: 0 0 0 0.8rem;
    }
  }
}

.delete-btn {
  color: rgb(184, 8, 8);
}

.edit-btn {
  color: rgb(72, 79, 160);
}

.update-btn {
  background-color: #3f51b5;
}

// Dashboard
// projects
.priority {
  display: flex;
  justify-content: center;
  border: solid 1px;
  border-radius: 0.2rem;

  &-high {
    color: red;
  }
  &-medium {
    color: rgb(81, 151, 248);
  }
  &-low {
    color: rgb(113, 226, 117);
  }
}

.status-bar {
  height: 4.2px;
  width: inherit;
  position: relative;
  transition: all ease-in-out 350ms;
  border-radius: 0.8rem;

  &-inner {
    height: inherit;
    width: inherit;
    display: inline-block;
    position: relative;
    background-color: rgba(128, 128, 128, 0.233);
    border-radius: inherit;
    z-index: 10;

    &_active {
      width: 15px;
      height: inherit;
      background-color: #3f51b5;
      position: absolute;
      top: 0;
      z-index: 10;
      border-radius: inherit;
    }
    &_completed {
      width: inherit;
      height: inherit;
      background-color: #3fb557;
      position: absolute;
      top: 0;
      z-index: 10;
      border-radius: inherit;
    }
    &_running {
      width: 40px;
      height: inherit;
      background-color: #b5823f;
      position: absolute;
      top: 0;
      z-index: 10;
      border-radius: inherit;
    }
    &_pending {
      width: 5px;
      height: inherit;
      background-color: #666666;
      position: absolute;
      top: 0;
      z-index: 10;
      border-radius: inherit;
    }
    &_not-started {
      width: 0px;
      height: inherit;
      background-color: #3f51b5;
      position: absolute;
      top: 0;
      z-index: 10;
      border-radius: inherit;
    }
    &_canceled {
      width: 0px;
      height: inherit;
      background-color: #3f51b5;
      position: absolute;
      top: 0;
      z-index: 10;
      border-radius: inherit;
    }
  }
}
