.main-nav {
  position: fixed;
  top: 0;
  z-index: 5;
  transition: all ease-in-out 600ms;
  filter: $drop-shadow-bottom;

  &-brand {
    display: flex;
    align-items: center;
    gap: 1rem;
    transition: inherit;
  }

  &-controls {
    position: relative;
    top: 0;
    display: flex;
    width: 100vw;
    background-color: white;
    gap: 5em;
    padding: 1rem;
    transition: all ease-in-out 600ms;
  }
}

.main-nav-list {
  z-index: 6;
  position: fixed;
  bottom: 0;
  top: 64px;
  padding: 5rem 1rem;
  background-color: white;
  width: 300px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 1.15rem;
  transition: all ease-in-out 600ms;
  filter: $drop-shadow-right;

  &-linkHeader {
    font-size: inherit;
  }

  &-linkContainer {
    display: flex;
    align-items: center;
    gap: 0.4rem;
  }

  &_toggled {
    @extend .main-nav-list;
    width: 63px;
    transition: inherit;

    @include breakpointDown(sm) {
      &_mobile {
        transform: translateX(-100vw);
        transition: inherit;
        padding: 0;
      }
    }
  }

  @include breakpointDown(sm) {
    &-icon {
      visibility: hidden;
    }
  }
}
