@import "../../../node_modules/bootstrap/scss/bootstrap.scss";

$color-grey: rgb(217, 221, 227);
$drop-shadow-bottom: drop-shadow(0 0.1rem 0.3rem $color-grey);
$drop-shadow-right: drop-shadow(0.1rem 0.5rem 0.2rem $color-grey);
