@import "../../../node_modules/bootstrap/scss/bootstrap.scss";

.text-primary {
  color: #3f51b5;
}
.btn-primary {
  color: white;
  background-color: #3f51b5;
}
.btn {
  &-admin {
    color: white;
    background-color: #3f51b5;

    &:hover {
      color: white;
      background-color: #3f51b5;
    }
  }

  &-employee {
    background-color: #ff4081;
    color: white;

    &:hover {
      color: white;
      background-color: #ff4081;
    }
  }
  &-client {
    color: white;
    background-color: #f44336;

    &:hover {
      color: white;
      background-color: #f44336;
    }
  }
  &-login {
    color: white;
    background-color: #3f51b5;

    &:hover {
      color: white;
      background-color: #3f51b5;
    }
  }
  // &-login {
  //   color: white;
  //   background-color: #f44336;

  //   &:hover {
  //     color: white;
  //     background-color: #f44336;
  //   }
  // }
}

$color-grey: rgb(193, 197, 202);
$drop-shadow-bottom: drop-shadow(0 0.1rem 0.3rem $color-grey);
$drop-shadow-right: drop-shadow(0rem 0.9rem 0.4rem $color-grey);

$font-size-h3: 0.875rem;

$height-body: 755px;

$form-control-padding: 0.9rem 2rem;
$border: solid #21252973 1px;
$border-radius: 0.25rem;
