.employee-card {
  &-img {
    border-radius: 10rem;
  }
}
.employee-card-mobile,
.employee-card-form {
  border-radius: 0;
  font-size: $font-size-h3;
}

.employee-card-desktop {
  @include breakpointDown(sm) {
    display: none;
  }
  &-form {
    display: flex;
    padding: 0 0 0 3rem;
    justify-content: space-around;

    @include breakpointDown(md) {
      padding: 0 0 0 3rem;
    }
    &-fields {
      overflow-x: hidden;

      @include breakpointDown(md) {
        flex: 0 0 110px;
      }
      @include breakpointUp(lg) {
        flex: 0 0 154px;
      }
    }
  }
}

.employee-card-mobile {
  display: none;

  h3 {
    @include breakpointDown(sm) {
      font-size: 0.875rem;
    }
  }

  &-fields {
    display: flex;
    justify-content: space-between;
  }

  @include breakpointDown(sm) {
    display: flex;
  }
}
