// .sign-up {

// }
.sign-up,
.login {
  &-right-info {
    height: 100%;
    padding: 0 11rem;
  }
  form {
    padding: 0;
  }

  img {
    height: 100%;
    width: 100%;
  }

  h1 {
    font-size: 2rem;
  }
}

.login {
  img {
    height: 100%;
    width: 100%;
  }

  h1 {
    font-size: 2rem;
  }

  &-socials {
    color: rgba(128, 128, 128, 0.639);
    position: relative;
    padding: 2rem 0 0 0;
    &::before {
      margin: 0.6rem 0 0 0;
      content: "";
      width: 155px;
      height: 0.5px;
      background-color: rgba(128, 128, 128, 0.395);
      position: absolute;
      left: 10px;
    }
    &::after {
      margin: 0.6rem 0 0 0;
      content: "";
      width: 155px;
      height: 0.5px;
      background-color: rgba(128, 128, 128, 0.395);
      position: absolute;
      right: 10px;
    }
  }
}

.col-container {
  height: 100vh;
  background-color: white;
  padding: 0;
}

// PHONES ONLY
@media screen and (max-width: 580px) {
  .sign-up,
  .login {
    &-right-info {
      padding: 0 2rem;
    }
  }
}

@media screen and (min-width: 800px) {
  // .sign-up {
  //   padding: 0 11rem;
  // }
}
